[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
redis = "*"

[pipenv]
allow_prereleases = true
